.background {
  background-image: url(/images/background.light.theme.png?71a0a45cf5b480f00bc5fc532866b7ae);
}

.background-albugo {
  background-color: #0000005b !important;
}

.no-photo {
  background-image: url(/images/no-photo.light.theme.png?b4b932607fbb1700c01dd211400f9f1e);
}

.no-photo-click {
  background-image: url(/images/no-photo.hover.light.theme.png?a2cbc6527bf707b5075e4f3324084488);
}

.no-photo-hover:hover {
  background-image: url(/images/no-photo.hover.light.theme.png?a2cbc6527bf707b5075e4f3324084488);
}

.no-preview {
  background-image: url(/images/default.light.theme.png?eb2bceb38d192035bc386920ba513671);
}

.add {
  background-image: url(/images/add.light.theme.png?cac7b67d5917cc934bf621f383c51478);
}

.add-click {
  background-image: url(/images/add.hover.light.theme.png?5e81083ac3322d754904c5b60de43379);
}

.add-hover:hover {
  background-image: url(/images/add.hover.light.theme.png?5e81083ac3322d754904c5b60de43379);
}

.create-folder {
  background-image: url(/images/create-folder.light.theme.png?6ff91c052e806b48119c4e83adb51415);
}

.create-folder-click {
  background-image: url(/images/create-folder.hover.light.theme.png?87f4f6c3633f84c9cbf0b893737adf2b);
}

.create-folder-hover:hover {
  background-image: url(/images/create-folder.hover.light.theme.png?87f4f6c3633f84c9cbf0b893737adf2b);
}

.folder {
  background-image: url(/images/folder.light.theme.png?683a524e58eb6a5702b09c6aef90506f);
}

.folder-click {
  background-image: url(/images/folder.hover.light.theme.png?80c4875f9668a29f5e7c2325450e3e7b);
}

.folder-hover:hover {
  background-image: url(/images/folder.hover.light.theme.png?80c4875f9668a29f5e7c2325450e3e7b);
}

.search-icon {
  background-image: url(/images/search.light.theme.png?1c91abcd2c2e69b15dbcb5b21809f72c);
}

.like {
  background-image: url(/images/like.light.theme.png?a69d51e9798f9275107aa0102277064c);
}

.like.active {
  background-image: url(/images/like.active.light.theme.png?a9f07efd8eae8738ff3c4cc3aeb30530);
}

.dislike {
  background-image: url(/images/dislike.light.theme.png?afad215f800393615d9c58c1d718f74d);
}

.dislike.active {
  background-image: url(/images/dislike.active.light.theme.png?a550f12ac11443698a73dc310879f91f);
}

.like-inversion {
  background-image: url(/images/like.dark.theme.png?ab9ca38c13c2d0e34d78657a330383c3);
}

.like-inversion.active {
  background-image: url(/images/like.active.dark.theme.png?f335114e89b7b5a7133607f8a9cf02d3);
}

.dislike-inversion {
  background-image: url(/images/dislike.dark.theme.png?78984467b842e9c5ad1b284efb015ddb);
}

.dislike-inversion.active {
  background-image: url(/images/dislike.active.dark.theme.png?d8d7b39a128923199cdc3b31a036ac1a);
}

.favorite {
  background-image: url(/images/favorite.light.theme.png?bb9edda88aa64e8c49a7eaf3ccaf0a94);
}

.favorite.active {
  background-image: url(/images/favorite.active.light.theme.png?0cc380a7d2e092cd21430d71ae009a38);
}

.ticket:hover .name-hover {
  background-color: #cbd3da !important;
}
