html {
    font-size: 14px;
    user-select: none;
    cursor: default;
    height: 100%;
}
body {
    font-family: "Ubuntu", sans-serif;
}

.background {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
}
.ticket {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
}

.max-width-xl {
    max-width: 1200px;
}

.cursor-default {
    cursor: default !important;
}
.cursor-default * {
    cursor: default !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
.cursor-pointer * {
    cursor: pointer !important;
}
.cursor-help {
    cursor: help !important;
}
.cursor-help * {
    cursor: help !important;
}
.cursor-not-allowed {
    cursor: not-allowed !important;
}
.cursor-not-allowed * {
    cursor: not-allowed !important;
}
.cursor-text {
    cursor: text !important;
}
.cursor-text * {
    cursor: text !important;
}
.cursor-vertical-text {
    cursor: vertical-text !important;
}
.cursor-vertical-text * {
    cursor: vertical-text !important;
}
.cursor-progress {
    cursor: progress !important;
}
.cursor-progress * {
    cursor: progress !important;
}
.cursor-wait {
    cursor: wait !important;
}
.cursor-wait * {
    cursor: wait !important;
}

@media (min-width: 0px)
{
    html {
        font-size: 16px;
    }
}
@media (min-width: 576px)
{

}
@media (min-width: 768px)
{
    html {
        font-size: 14px;
    }
}
@media (min-width: 992px)
{
    html {
        font-size: 13px;
    }
}
@media (min-width: 1200px)
{

}
