@import url("app/lang.css");
@import url("app/cursor.css");
@import url("app/background.css");
@import url("app/background/color.css");
@import url("app/border/color.css");
@import url("app/button/color.css");

html {
    font-size: 14px;
    user-select: none;
    cursor: default;
    height: 100%;
}
body {
    font-family: "Ubuntu", sans-serif;
}

.ticket {
    background-size: 60% 60%; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
}

.user-select-contain {
    user-select: contain !important;
}
.user-select-text {
    user-select: text !important;
}

.max-width-xl {
    max-width: 1200px;
}

@media (min-width: 0px)
{
    html {
        font-size: 16px;
    }
}
@media (min-width: 576px)
{

}
@media (min-width: 768px)
{
    html {
        font-size: 14px;
    }
}
@media (min-width: 992px)
{
    
}
@media (min-width: 1200px)
{

}
