.background {
    background-image: url(/images/background-dark.png?acbdaca4f949f3570db720ae90550153);
}
.background-albugo {
    background-color: rgba(255, 255, 255, 0.15);
}
.bg-dark {
    background-color: #343a40ec !important;
}
.border-dark {
    border-color: #343a40ec !important;
}
.ticket:hover .bg-dark-hover {
    background-color: #383f46ec !important;
}
.ticket.border-dark-hover:hover {
    border-color: #383f46ec !important;
}

