.background {
    background-image: url(/images/background.light.theme.png?71a0a45cf5b480f00bc5fc532866b7ae);
}
.background-albugo {
    background-color: rgba(0, 0, 0, 0.4);
}
.no-photo {
    background-image: url(/images/no-photo.light.theme.png?b4b932607fbb1700c01dd211400f9f1e);
}
.no-photo-click {
    background-image: url(/images/no-photo.hover.light.theme.png?a2cbc6527bf707b5075e4f3324084488);
}
.no-photo-hover:hover {
    background-image: url(/images/no-photo.hover.light.theme.png?a2cbc6527bf707b5075e4f3324084488);
}
.btn-light {
    background-color: #eeeeeee5 !important;
    border-color: #eeeeeee5 !important;
}
.ticket:hover {
    border-color: #d6d6d6e5 !important;
}
.ticket:hover .name {
    background-color: #d6d6d6ec !important;
}

