@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@charset "UTF-8";
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.btn-primary {
  border-color: #007bffe5 !important;
  background-color: #007bffe5 !important;
}

.btn-secondary {
  border-color: #6c757de5 !important;
  background-color: #6c757de5 !important;
}

.btn-success {
  border-color: #28a745e5 !important;
  background-color: #28a745e5 !important;
}

.btn-info {
  border-color: #17a2b8e5 !important;
  background-color: #17a2b8e5 !important;
}

.btn-warning {
  border-color: #ffc107e5 !important;
  background-color: #ffc107e5 !important;
}

.btn-danger {
  border-color: #dc3545e5 !important;
  background-color: #dc3545e5 !important;
}

.btn-light {
  border-color: #f8f9fae5 !important;
  background-color: #f8f9fae5 !important;
}

.btn-dark {
  border-color: #343a40e5 !important;
  background-color: #343a40e5 !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Browse";
}
.custom-file-input:lang(ru) ~ .custom-file-label::after {
  content: "Загрузить файл";
}
.custom-file-input:lang(by) ~ .custom-file-label::after {
  content: "Загрузіць файл";
}
.custom-file-input:lang(kz) ~ .custom-file-label::after {
  content: "Файлды жүктеу";
}
.custom-file-input:lang(ua) ~ .custom-file-label::after {
  content: "Завантажити файл";
}

.bg-primary {
  background-color: #007bffe5 !important;
}

.bg-primary-click {
  background-color: #0067d6e5 !important;
}

.bg-primary-hover:hover {
  background-color: #0067d6e5 !important;
}

.bg-secondary {
  background-color: #6c757de5 !important;
}

.bg-secondary-click {
  background-color: #596167e5 !important;
}

.bg-secondary-hover:hover {
  background-color: #596167e5 !important;
}

.bg-success {
  background-color: #28a745e5 !important;
}

.bg-success-click {
  background-color: #208637e5 !important;
}

.bg-success-hover:hover {
  background-color: #208637e5 !important;
}

.bg-info {
  background-color: #17a2b8e5 !important;
}

.bg-info-click {
  background-color: #128294e5 !important;
}

.bg-info-hover:hover {
  background-color: #128294e5 !important;
}

.bg-warning {
  background-color: #ffc107e5 !important;
}

.bg-warning-click {
  background-color: #dda600e5 !important;
}

.bg-warning-hover:hover {
  background-color: #dda600e5 !important;
}

.bg-danger {
  background-color: #dc3545e5 !important;
}

.bg-danger-click {
  background-color: #c62232e5 !important;
}

.bg-danger-hover:hover {
  background-color: #c62232e5 !important;
}

.bg-light {
  background-color: #f8f9fae5 !important;
}

.bg-light-click {
  background-color: #e0e5e9e5 !important;
}

.bg-light-hover:hover {
  background-color: #e0e5e9e5 !important;
}

.bg-dark {
  background-color: #343a40e5 !important;
}

.bg-dark-click {
  background-color: #222629e5 !important;
}

.bg-dark-hover:hover {
  background-color: #222629e5 !important;
}

.bg-white {
  background-color: #ffffffe5 !important;
}

.bg-white-click {
  background-color: #ebebebe5 !important;
}

.bg-white-hover:hover {
  background-color: #ebebebe5 !important;
}

.border-primary {
  border-color: #007bffe5 !important;
}

.border-primary-click {
  border-color: #0067d6e5 !important;
}

.border-primary-hover:hover {
  border-color: #0067d6e5 !important;
}

.border-secondary {
  border-color: #6c757de5 !important;
}

.border-secondary-click {
  border-color: #596167e5 !important;
}

.border-secondary-hover:hover {
  border-color: #596167e5 !important;
}

.border-success {
  border-color: #28a745e5 !important;
}

.border-success-click {
  border-color: #208637e5 !important;
}

.border-success-hover:hover {
  border-color: #208637e5 !important;
}

.border-info {
  border-color: #17a2b8e5 !important;
}

.border-info-click {
  border-color: #128294e5 !important;
}

.border-info-hover:hover {
  border-color: #128294e5 !important;
}

.border-warning {
  border-color: #ffc107e5 !important;
}

.border-warning-click {
  border-color: #dda600e5 !important;
}

.border-warning-hover:hover {
  border-color: #dda600e5 !important;
}

.border-danger {
  border-color: #dc3545e5 !important;
}

.border-danger-click {
  border-color: #c62232e5 !important;
}

.border-danger-hover:hover {
  border-color: #c62232e5 !important;
}

.border-light {
  border-color: #f8f9fae5 !important;
}

.border-light-click {
  border-color: #e0e5e9e5 !important;
}

.border-light-hover:hover {
  border-color: #e0e5e9e5 !important;
}

.border-dark {
  border-color: #343a40e5 !important;
}

.border-dark-click {
  border-color: #222629e5 !important;
}

.border-dark-hover:hover {
  border-color: #222629e5 !important;
}

.border-white {
  border-color: #ffffffe5 !important;
}

.border-white-click {
  border-color: #ebebebe5 !important;
}

.border-white-hover:hover {
  border-color: #ebebebe5 !important;
}

.border-dark {
  border-color: #343a40e5 !important;
}

.border-dark-click {
  border-color: #464e57e5 !important;
}

.border-dark-hover:hover {
  border-color: #464e57e5 !important;
}

.user-select-all {
  -webkit-user-select: all !important;
     -moz-user-select: all !important;
          user-select: all !important;
}

.user-select-auto {
  -webkit-user-select: auto !important;
     -moz-user-select: auto !important;
      -ms-user-select: auto !important;
          user-select: auto !important;
}

.user-select-none {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
}

.user-select-contain {
  -webkit-user-select: contain !important;
     -moz-user-select: contain !important;
      -ms-user-select: element !important;
          user-select: contain !important;
}

.user-select-text {
  -webkit-user-select: text !important;
     -moz-user-select: text !important;
      -ms-user-select: text !important;
          user-select: text !important;
}

.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.cursor-help {
  cursor: help !important;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

.cursor-text {
  cursor: text !important;
}

.cursor-vertical-text {
  cursor: vertical-text !important;
}

.cursor-progress {
  cursor: progress !important;
}

.cursor-wait {
  cursor: wait !important;
}

.cursor-n-resize {
  cursor: n-resize !important;
}

.cursor-ne-resize {
  cursor: ne-resize !important;
}

.cursor-e-resize {
  cursor: e-resize !important;
}

.cursor-se-resize {
  cursor: se-resize !important;
}

.cursor-s-resize {
  cursor: s-resize !important;
}

.cursor-sw-resize {
  cursor: sw-resize !important;
}

.cursor-w-resize {
  cursor: w-resize !important;
}

.cursor-nw-resize {
  cursor: nw-resize !important;
}

.cursor-nesw-resize {
  cursor: nesw-resize !important;
}

.cursor-nwse-resize {
  cursor: nwse-resize !important;
}

.cursor-col-resize {
  cursor: col-resize !important;
}

.cursor-row-resize {
  cursor: row-resize !important;
}

.cursor-zoom-in {
  cursor: zoom-in !important;
}

.cursor-zoom-out {
  cursor: zoom-out !important;
}

.cursor-move {
  cursor: move !important;
}

.cursor-all-scroll {
  cursor: all-scroll !important;
}

.cursor-crosshair {
  cursor: crosshair !important;
}

.cursor-cell {
  cursor: cell !important;
}

html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 100%;
  cursor: default;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.ticket {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
}

.ticket .name {
  border-bottom-left-radius: 8.4px;
  border-bottom-right-radius: 8.4px;
}

.max-width-xl {
  max-width: 1200px;
}

.search-icon {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.like, .dislike {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 140%;
}

.favorite {
  background-position: center center;
  background-size: 90%;
  background-repeat: no-repeat;
}

@media (min-width: 0px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}
