@import "../functions";
@import "../variables";

$theme: "dark";

.background {
    background-image: img("../../images/background", $theme);
}
.background-albugo {
    background-color: #{$white}1c !important;
}
.no-photo {
    background-image: img("../../images/no-photo", $theme);
}
.no-photo-click {
    background-image: img("../../images/no-photo.hover", $theme);
}
.no-photo-hover:hover {
    background-image: img("../../images/no-photo.hover", $theme);
}
.no-preview {
    background-image: img("../../images/previews/default", $theme);
}

.ticket:hover .name {
    background-color: darken($dark, $theme-color-interval) + #{$opacity-color} !important;
}
