@import "../functions";
@import "../variables";

$theme: "light";

.background {
    background-image: img("../../images/background", $theme);
}
.background-albugo {
    background-color: #{$black}5b !important;
} 
.no-photo {
    background-image: img("../../images/no-photo", $theme);
}
.no-photo-click {
    background-image: img("../../images/no-photo.hover", $theme);
}
.no-photo-hover:hover {
    background-image: img("../../images/no-photo.hover", $theme);
}
.no-preview {
    background-image: img("../../images/previews/default", $theme);
}
.add {
    background-image: img("../../images/add", $theme);
}
.add-click {
    background-image: img("../../images/add.hover", $theme);
}
.add-hover:hover {
    background-image: img("../../images/add.hover", $theme);
}
.create-folder {
    background-image: img("../../images/create-folder", $theme);
}
.create-folder-click {
    background-image: img("../../images/create-folder.hover", $theme);
}
.create-folder-hover:hover {
    background-image: img("../../images/create-folder.hover", $theme);
}
.folder {
    background-image: img("../../images/folder", $theme);
}
.folder-click {
    background-image: img("../../images/folder.hover", $theme);
}
.folder-hover:hover {
    background-image: img("../../images/folder.hover", $theme);
}
.search-icon {
    background-image: img("../../images/search", $theme);
}
.like {
    background-image: img("../../images/like", $theme);
}
.like.active {
    background-image: img("../../images/like.active", $theme);
}
.dislike {
    background-image: img("../../images/dislike", $theme);
}
.dislike.active {
    background-image: img("../../images/dislike.active", $theme);
}
.favorite {
    background-image: img("../../images/favorite", $theme);
}
.favorite.active {
    background-image: img("../../images/favorite.active", $theme);
}

.ticket:hover .name-hover {
    background-color: darken($light, 15%) !important;
}
