@import "../functions";
@import "../variables";

$theme: "light";

.background {
    background-image: img("../../images/background", $theme);
}
.background-albugo {
    background-color: #{$black}5b !important;
} 
.no-photo {
    background-image: img("../../images/no-photo", $theme);
}
.no-photo-click {
    background-image: img("../../images/no-photo.hover", $theme);
}
.no-photo-hover:hover {
    background-image: img("../../images/no-photo.hover", $theme);
}

.ticket:hover {
    border-color: darken($light, 15%) !important;
}
.ticket:hover .name {
    background-color: darken($light, 15%) !important;
}
