.background {
    background-image: url("../../images/background.dark.theme.png");
}
.background-albugo {
    background-color: rgba(255, 255, 255, 0.15);
}
.no-photo {
    background-image: url("../../images/no-photo.dark.theme.png");
}
.no-photo-click {
    background-image: url("../../images/no-photo.hover.dark.theme.png");
}
.no-photo-hover:hover {
    background-image: url("../../images/no-photo.hover.dark.theme.png");
}

.ticket:hover {
    border-color: #383f46e5 !important;
}
.ticket:hover .name {
    background-color: #383f46e5 !important;
}
