.background {
    background-image: url("../../images/background.light.theme.png");
}
.background-albugo {
    background-color: rgba(0, 0, 0, 0.4);
}
.no-photo {
    background-image: url("../../images/no-photo.light.theme.png");
}
.no-photo-click {
    background-image: url("../../images/no-photo.hover.light.theme.png");
}
.no-photo-hover:hover {
    background-image: url("../../images/no-photo.hover.light.theme.png");
}

.btn-light {
    background-color: #eeeeeee5 !important;
    border-color: #eeeeeee5 !important;
}
