.background {
    background-image: url("../../images/background.light.theme.png");
}
.background-albugo {
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-light {
    background-color: #eeeeeee5 !important;
}
.bg-light-hover:hover {
    background-color: #d6d6d6ec !important;
}

.border-light {
    border-color: #eeeeeee5 !important;
}
.border-light-hover:hover {
    border-color: #d6d6d6ec !important;
}

.btn-light {
    background-color: #eeeeeee5 !important;
    border-color: #eeeeeee5 !important;
}
