@each $color, $value in $theme-colors {
    .border-#{$color} {
        border-color: #{$value}#{$opacity-color} !important;
    }
    .border-#{$color}-click {
        border-color: darken($value, $theme-color-interval) !important;
    }
    .border-#{$color}-hover:hover {
        border-color: darken($value, $theme-color-interval) !important;
    }
}

.border-white {
    border-color: #{$white}#{$opacity-color} !important; 
}
.border-white-click {
    border-color: darken($white, $theme-color-interval) !important;
}
.border-white-hover:hover {
    border-color: darken($white, $theme-color-interval) !important;
}
