.custom-file-input:lang(ru) ~ .custom-file-label::after {
    content: "Загрузить файл";
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Upload a file";
}
.custom-file-input:lang(by) ~ .custom-file-label::after {
    content: "Загрузіць файл";
}
.custom-file-input:lang(kz) ~ .custom-file-label::after {
    content: "Файлды жүктеу";
}
.custom-file-input:lang(ua) ~ .custom-file-label::after {
    content: "Завантажити файл";
}
