@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "buttons";
@import "custom-forms";
@import "utilities";

@include cursor-variant("*", "default");

html {
    user-select: none;
    height: 100%;
}

body {
    font-family: "Ubuntu", sans-serif;
}
.background {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
}

.ticket {
    background-size: 60% 60%; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
}
.max-width-xl {
    max-width: 1200px;
}

@media (min-width: 0px)
{
    html {
        font-size: 16px;
    }
}
@media (min-width: 576px)
{

}
@media (min-width: 768px)
{
    html {
        font-size: 14px;
    }
}
@media (min-width: 992px)
{
    
}
@media (min-width: 1200px)
{

}

