@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "buttons";
@import "custom-forms";
@import "utilities";

html {
    user-select: none;
    height: 100%;
    cursor: default;
}

body {
    font-family: "Ubuntu", sans-serif;
}
.background {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center;
    background-attachment: fixed;
}

.ticket {
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
}
.ticket .name {
    border-bottom-left-radius: 8.4px;
    border-bottom-right-radius: 8.4px;
}
.max-width-xl {
    max-width: 1200px;
}

.search-icon {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.like, .dislike {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 140%;
}

.favorite {
    background-position: center center;
    background-size: 90%;
    background-repeat: no-repeat;
}

@media (min-width: 0px)
{
    html {
        font-size: 16px;
    }
}
@media (min-width: 576px)
{

}
@media (min-width: 768px)
{
    html {
        font-size: 14px;
    }
}
@media (min-width: 992px)
{
    
}
@media (min-width: 1200px)
{

}

